*.o
*.lo
*.a
*.la
*.json
.deps
.libs
Makefile
Makefile.in
*.m4
autom4te.cache
config*
.dirstamp
smvLexer*
smvParser*
helpers/
libtool
yasmine.pc
INSTALL
TAGS
.timestamp
smv.tokens
stamp-h1
tests
yasmv
